<h1>Editing article</h1>
<%= form_for @article do |f| %>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
  <%= f.label :content, "Content" %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
<ul>
  <li><%= link_to "Show", article_path(@article) %></li>
</ul>
